:root{
    background-color: black;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container {
    width: 450px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgb(176, 190, 211);
    border-radius: 10px;
    font-size: 32px;
}
.header{
    margin: 4px;
    color: white;
    text-shadow: 0.5px 0.5px black;
    text-decoration-line: underline;
    text-decoration-color: rgb(179, 149, 149);
}
.names{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
}
.playerX, .playerO{
    margin: 4px;
} 
label, ::placeholder{
    color: white;
    text-shadow: 0.5px 0.5px black;
}
input{
    background-color: rgb(179, 149, 149);
    height: 24px;
    border-radius: 25px;
}
.gameStart > button{
    background-color: rgb(121, 84, 84);
    color: white;
    text-shadow: 0.5px 0.5px black;
    border-radius: 50px;
    margin: 4px;
}
.gridcontent {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(179, 149, 149);
    border-style: groove;
    border-radius: 10px;
    border-color: grey;
}
.gridcontent > div{
    width: 0.33fr;
}
.gridcontent > div > * {
    padding: 20px;
    color: brown;
    text-shadow: 1px 1px black;
    border-color: black;
}
.gridcontent > :first-child > :first-child {
    border-right-style: solid;
}
.gridcontent > .col1 > .item10 {
    border-style: solid;
    border-left: none;
}
.gridcontent > :first-child > :last-child {
    border-right-style: solid;
}
.gridcontent > .col2 > .item11 {
    border-top-style: solid;
    border-bottom-style: solid;
}
.gridcontent > :last-child > :first-child {
    border-left-style: solid;
}
.gridcontent > .col3 > .item12 {
    border-style: solid;
    border-right: none;
}
.gridcontent > :last-child > :last-child {
    border-left-style: solid;
}

.dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 550px;
    width: 420px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}
.closeDialog{
    display: flex;
    justify-content: right;
    align-items: end;
    margin-left: 90%;
}
.closeDialog > *{
    height: 50px;
    width: 50px;
}
.winnerAnnoucer{
    margin-top: 40%;
    font-size: 50px;
}
#logoO{
    font-size: 150px;
    margin-top: 25px;
    color: rgb(179, 149, 149);
    text-shadow: 1px 1px black;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 210, 210);
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px white;
    font-style: italic;
    margin-top: auto;
    position: absolute;
    bottom: 0px;
    width: 100%;
}